<div class="container-fluid">
  <div class="container" id="calculator-container">
      <div class="row">
          <div class="col-12">
              <input class="form-control" type="text" id="textoPantalla" />
          </div>

          <div class="col-9 d-grid">

              <div class="row">
                  <div class="btn-group">
                      <button class="btn btn-primary col-4" (click)="insertaNumero(7)">7</button>
                      <button class="btn btn-primary col-4" (click)="insertaNumero(8)">8</button>
                      <button class="btn btn-primary col-4" (click)="insertaNumero(9)">9</button>
                  </div>
              </div>

              <div class="row">
                  <div class="btn-group">
                      <button class="btn btn-primary col-4" (click)="insertaNumero(4)">4</button>
                      <button class="btn btn-primary col-4" (click)="insertaNumero(5)">5</button>
                      <button class="btn btn-primary col-4" (click)="insertaNumero(6)">6</button>
                  </div>
              </div>

              <div class="row">
                  <div class="btn-group">
                      <button class="btn btn-primary col-4" (click)="insertaNumero(1)">1</button>
                      <button class="btn btn-primary col-4" (click)="insertaNumero(2)">2</button>
                      <button class="btn btn-primary col-4" (click)="insertaNumero(3)">3</button>
                  </div>
              </div>

              <div class="row">
                  <div class="btn-group">
                      <button class="btn btn-primary col-4" (click)="insertaNumero(0)">0</button>
                      <button class="btn btn-primary col-4" (click)="insertaNumero(00)">00</button>
                      <button class="btn btn-primary col-4" (click)="insertaDecimal()">.</button>
                  </div>
              </div>
          </div>

          <div class="col-3 d-grid">
              <div class="btn-group-vertical">
                  <button class="btn btn-info" (click)="borrarTodo()">DEL</button>
                  <button class="btn btn-info" (click)="insertaOperador('/')">/</button>
                  <button class="btn btn-info" (click)="insertaOperador('*')">*</button>
                  <button class="btn btn-info" (click)="insertaOperador('-')">-</button>
                  <button class="btn btn-info" (click)="insertaOperador('+')">+</button>
                  <button class="btn btn-info" (click)="calcular()">=</button>
              </div>
          </div>

      </div>
  </div>
</div>

<router-outlet></router-outlet>
